@using BlazorTool.Client.Services
@inject AppStateService AppState
@inject IStringLocalizer<Resources.UIStrings> Localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@AppState.Settings.ApplicationName</a>
    </div>
</div>

<input type="checkbox" title="@Localizer["NavMenu_NavigationMenu"]" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="navbar-nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link d-flex align-items-center px-3 py-2" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2" aria-hidden="true"></span>
                <span>@Localizer["NavMenu_Main"]</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link d-flex align-items-center px-3 py-2" href="orders">
                <span class="bi bi-clipboard-check me-2" aria-hidden="true"></span>
                <span>@Localizer["NavMenu_Orders"]</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link d-flex align-items-center px-3 py-2" href="scheduler">
                <span class="bi bi-calendar-week me-2" aria-hidden="true"></span>
                <span>@Localizer["NavMenu_Scheduler"]</span>
            </NavLink>
        </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="settings">
                    <span class="bi bi-gear-fill" aria-hidden="true"></span> @Localizer["NavMenu_Settings"]
                </NavLink>
            </div>
    </nav>
    <div class="nav-footer">
        <span class="api-info">@AppState.Settings.ApiBaseUrl</span>
    </div>
</div>
