@page "/orders"

@using BlazorTool.Client.Models
@using BlazorTool.Client.Services
@using BlazorTool.Client.Components
@using System.Text
@using System.Linq
@using System.Diagnostics
@using Telerik.DataSource.Extensions
@using Telerik.Blazor
@inject NavigationManager Navigation
@inject BlazorTool.Client.Services.ApiServiceClient apiService
@inject UserState UserState
@inject AppStateService AppState
@rowStyles
<CheckSession apiService="@apiService" UserState="@UserState" />
<label>Devices:</label>

@if (isDevicesLoading)
{
    <TelerikLoaderContainer Visible="@isDevicesLoading" Text="Loading devices list...">
    </TelerikLoaderContainer>
}else
{    
<div class="filter-controls-row">
    <div>
            <TelerikRadioGroup Data="@TagModes"
                               @bind-Value="@TagMode"
                               ValueField="@nameof(Tags.Mode)"
                               TextField="@nameof(Tags.Description)"
                               Layout="RadioGroupLayout.Horizontal">
            </TelerikRadioGroup>
            <TelerikButton OnClick="@selectAllDevices"
                            ThemeColor="@ThemeConstants.Button.ThemeColor.Base">
                Select All
            </TelerikButton>

        <TelerikMultiSelect Data="@devices"
                            @bind-Value="@selectedDeviceIds"
                            ValueField="@nameof(Device.MachineID)"
                            TextField="@nameof(Device.AssetNo)"
                            TagMode="@TagMode"
                            MaxAllowedTags="@MaxAllowedTags"
                            Placeholder="Select devices"
                            AutoClose="false"
                                OnClose="@OnMultiValueClosed"
                            Width="500px"
                            ShowClearButton="true">
        </TelerikMultiSelect>
    </div>
    <div>
        <label>Device category</label>
        <TelerikComboBox Data="@deviceCategories" TextField="DeviceCategory"
                            @bind-Value="@selectedDeviceCategory"
                            Placeholder="Select category..." ShowClearButton="true" Filterable="true"
                            OnChange="@OnCategoryChanged"
        >
        </TelerikComboBox>
    </div>
    <div>
        <label>Device type</label>
        <TelerikComboBox Data="@deviceTypes" TextField="DeviceType"
                            @bind-Value="@selectedDeviceType"   
                            Placeholder="Select type..." ShowClearButton="true" Filterable="true"
                            OnChange="@OnTypeChanged">
        </TelerikComboBox>
    </div>
    <div>
        <label>Order state</label>
        <TelerikComboBox Data="@workOrderStates"
                         @bind-Value = "@selectedState"
                         Placeholder="Select state..."
                         OnChange="@OnStateChanged"
                         ShowClearButton="false" Filterable="true">
        </TelerikComboBox>
    </div>
    <div>
            <label style="display: block;">Assigned persons</label>
        <TelerikMultiSelect Data="@personNames"
                            @bind-Value="@selectedPersons"
                            Placeholder="Select persons..."
                            AutoClose="false"
                            OnChange="@OnPersonChanged"
                            ShowClearButton="true"
                                Width="300px"
                                TagMode="@TagMode">
        </TelerikMultiSelect>
    </div>
</div>
}

<h3>Orders (@OrderDevicesForGrid.Count)</h3>
@if (isOrdersLoading)
{
    <div>loading order list...</div>
}
else
{
    <TelerikGrid Data="@OrderDevicesForGrid"
                 Id="Grid1"
                 RowDraggable="false"
                 @ref="@GridRef"
                 Sortable="true"
                 Resizable="true"
                 Pageable="true"
                 PageSize="20"
                 OnRowRender="@OnRowRenderHandler"
                 OnRowDoubleClick="@OnRowClick"
                     >
        <GridSettings>
        </GridSettings>
        <GridColumns>
            <GridColumn Field="@nameof(WorkOrderView.WorkOrderID)" Editable="false" Visible="false"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.DepName)" Title="DepName" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.DeviceName)" Title="Device" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.DeviceCategory)" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.WOReason)" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.ModPerson)" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.WOState)" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.WOLevel)" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.AssignedPerson)" Title="AssignedPerson" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.AddDate)" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.StartDate)" Title="Start Date" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.EndDate)" Title="End Date" Resizable="true"></GridColumn>
            <GridColumn Field="@nameof(WorkOrderView.CloseDate)" Resizable="true"></GridColumn>
        </GridColumns>
    </TelerikGrid>

    <TelerikWindow @bind-Visible="@isOrderCardOpen"
                   CloseOnOverlayClick="true"
                   Modal="true"
                   Width="1280px"
                   MaxHeight="95vh">
        <WindowTitle>
        </WindowTitle>
        <WindowContent>
             <WorkOrderComponent WorkOrder="@selectedOrder" isEditable=false currentUser="@currentUser"/>
        </WindowContent>
        <WindowActions>
            <WindowAction Name="Close" />
        </WindowActions>
        <WindowFooter>
        </WindowFooter>
    </TelerikWindow>
}


@code {
    private bool isOrdersLoading = false;
    private bool isDevicesLoading = false;
    private List<WorkOrder> OrdersForGrid = new List<WorkOrder>();
    private List<WorkOrderView> OrderDevicesForGrid = new List<WorkOrderView>();
    private WorkOrder selectedOrder;
    private IEnumerable<Device> selectedDevices = new List<Device>();
    private List<int> selectedDeviceIds = new List<int>();
    private string? selectedState = "All";
    private string? selectedDeviceType = "All";
    private string? selectedDeviceCategory = "All";
    private MarkupString rowStyles = new MarkupString();
    private List<Device> devices = new List<Device>();
    List<string?> deviceCategories = new List<string?>();
    List<string?> deviceTypes = new List<string?>();
    List<string>? workOrderStates = new List<string>(){"All"};
    private List<Person> allPersons = new List<Person>();
    private List<string> personNames = new List<string>();
    private List<string> selectedPersons = new List<string>();
    public TelerikGrid<WorkOrderView> GridRef { get; set; }
    public CompositeFilterDescriptor Value { get; set; } = new CompositeFilterDescriptor();
    private bool isOrderCardOpen = false;
    private MultiSelectTagMode TagMode { get; set; } = MultiSelectTagMode.Single;
    private int? MaxAllowedTags { get; set; }
    private List<Dict> dicts = new List<Dict>();
    private Person currentUser = new Person();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Initialized ORDERS PAGE");
        await UserState.InitializationTask; // Ensure UserState is loaded
        if (!UserState.IsAuthenticated)
        {
            Navigation.NavigateTo("/login");
        }
        isDevicesLoading = true;
        StateHasChanged();
        dicts = await apiService.GetWODictionaries(1);
        allPersons = await apiService.GetAllPersons();
        personNames = allPersons.Select(p => p.Name).ToList();
        currentUser.PersonId = UserState.PersonID ?? -1;
        currentUser.Name = UserState.UserName ?? string.Empty;        
        OrdersForGrid = await apiService.GetWorkOrdersAsync(lang: UserState.LangCode);
        workOrderStates?.AddRange(OrdersForGrid.Select(o => o.WOState ?? string.Empty).Distinct().ToList());
        devices = await apiService.GetAllDevicesCachedAsync();
        deviceCategories = devices.Select(d => d.DeviceCategory).Distinct().ToList();
        deviceCategories?.Insert(0,"All");
        deviceTypes = devices.Select(d => d.Type).Distinct().ToList();
        deviceTypes?.Insert(0, "All");
        isDevicesLoading = false;
        StateHasChanged();
        AppState.OnChange +=() =>
        {
            rowStyles = RenderStatesStyle(OrdersForGrid);
            StateHasChanged();
        };
        await LoadData();
    }

    private async Task LoadData()
    {
        isOrdersLoading = true;
        //Value = GetCompositeFilterDescriptor();
        StateHasChanged();
        if (devices == null || devices.Count == 0)
        {
            return; // No devices available, exit early
        }

        if (selectedDevices == null || selectedDevices.Count() == 0)
        {
            // selectedDevices = new List<Device>() { devices.FirstOrDefault() };
            selectedDevices = new List<Device>();
        }

        if (selectedDeviceIds == null || selectedDeviceIds.Count == 0)
        {
            selectedDeviceIds = new List<int>();
            // selectedDeviceIds = selectedDevices.Select(d => d.MachineID).ToList();
        }
        Console.WriteLine($"Selected devices count: {selectedDevices.Count()}");
        var filteredDevices = GetFilteredDevices();
        OrdersForGrid = await GetFilteredOrders(filteredDevices);
        OrderDevicesForGrid = OrdersForGrid.Select(o => new WorkOrderView(o, GetDeviceNameByOrder(o))).ToList();
        rowStyles = RenderStatesStyle(OrdersForGrid);
        isOrdersLoading = false;
        StateHasChanged();
    }

    private string GetDeviceNameByOrder(WorkOrder order)
    {
        return devices.First(d => d.MachineID == order.MachineID)?.AssetNo ?? string.Empty;
    }

    private IEnumerable<Device> GetFilteredDevices()
    {

        return devices.Where(d => 
            (string.IsNullOrWhiteSpace(selectedDeviceCategory) || d.DeviceCategory == selectedDeviceCategory || selectedDeviceCategory == "All") &&
            (string.IsNullOrWhiteSpace(selectedDeviceType) || d.Type == selectedDeviceType || selectedDeviceType == "All") &&
            (selectedDeviceIds.Count == 0 || selectedDeviceIds.Contains(d.MachineID))
        );
    }
    private async Task<List<WorkOrder>> GetFilteredOrders(IEnumerable<Device> devices)
    {
        List<WorkOrder> orders = new List<WorkOrder>();
        if (selectedDeviceIds.Count == 0 && 
            selectedState == "All" && 
            selectedPersons.Count == 0 && 
            selectedDeviceCategory == "All" &&
            selectedDeviceType == "All"
        )
        {
            orders = await apiService.GetWorkOrdersCachedAsync();
        }
        else
        {
            orders = await apiService.GetWorkOrdersCachedAsync(devices);
        }

        var result = orders.Where(o => 
            (o.WOState == selectedState || selectedState == "All" || string.IsNullOrWhiteSpace(selectedState)) &&
            (selectedPersons.Count == 0 || selectedPersons.Contains(o.AssignedPerson))
        ).ToList();
        //selectedDeviceIds = result.Select(d => d.MachineID).Distinct().ToList();
        return result;
    }

    public class WorkOrderView : WorkOrder
    {
        public string DeviceName { get; set; }

        public WorkOrderView(WorkOrder order, string deviceName)
        {
            this.WorkOrderID = order.WorkOrderID;
            this.MachineID = order.MachineID;
            this.AssetNo = order.AssetNo;
            this.DeviceCategory = order.DeviceCategory;
            this.WODesc = order.WODesc;
            this.WOCategory = order.WOCategory;
            this.WOState = order.WOState;
            this.WOReason = order.WOReason;
            this.AddDate = order.AddDate;
            this.TakeDate = order.TakeDate;
            this.CloseDate = order.CloseDate;
            this.Cost = order.Cost;
            this.TakePersons = order.TakePersons;
            this.PlanID = order.PlanID;
            this.StateColor = order.StateColor;
            this.ModDate = order.ModDate;
            this.ModPerson = order.ModPerson;
            this.WOLevel = order.WOLevel;
            this.LevelID = order.LevelID;
            this.ActCount = order.ActCount;
            this.DepName = order.DepName;
            this.AssignedPerson = order.AssignedPerson;
            this.FileCount = order.FileCount;
            this.PartCount = order.PartCount;
            this.PlanActCount = order.PlanActCount;
            this.StartDate = order.StartDate;
            this.EndDate = order.EndDate;
            this.IsScheduledPlanned = order.IsScheduledPlanned;
            this.CategoryID = order.CategoryID;
            this.ReasonID = order.ReasonID;
            this.IneffectiveCount = order.IneffectiveCount;
            this.PersonTakeDate = order.PersonTakeDate;
            this.DeviceCategoryID = order.DeviceCategoryID;

            this.DeviceName = deviceName;
        }
    }

    #region Filter events
    //Select devives from MultiSelect
    private async void OnMultiValueClosed()
    {
        selectedDevices = devices.Where(d => selectedDeviceIds.Contains(d.MachineID)).ToList();
        await LoadData(); 
    }

    async Task OnStateChanged()
    {
        if ( string.IsNullOrEmpty(selectedState))
            selectedState = "All";
        await LoadData();
    }

    async Task OnPersonChanged()
    {
        await LoadData();
    }

    async Task OnCategoryChanged()
    {
        if (string.IsNullOrWhiteSpace(selectedDeviceCategory))
            selectedDeviceCategory = "All";
        await LoadData();
    }

    async Task OnTypeChanged()
    {
        if (string.IsNullOrWhiteSpace(selectedDeviceType))
            selectedDeviceType = "All";
        await LoadData();
    }

    async Task selectAllDevices()
    {
        selectedDeviceIds = devices.Select(d => d.MachineID).ToList();
        selectedDevices = devices.ToList();
        selectedDeviceCategory = "All";
        selectedDeviceType = "All";
        selectedState = "All";
        await LoadData();
    }

    #endregion

    #region Filter Descriptor
    private CompositeFilterDescriptor GetCompositeFilterDescriptor()
    {
        return new CompositeFilterDescriptor()
        {
            FilterDescriptors = new FilterDescriptorCollection
        {
            new FilterDescriptor
            {
                Member = "WOState",
                MemberType = typeof(string),
                Value = "W trakcie realizacji",
                Operator = FilterOperator.IsEqualTo
            },
            new FilterDescriptor
            {
                Member = "DepName",
                MemberType = typeof(string),
                Value = "UR",
                Operator = FilterOperator.IsEqualTo
            }

        }
        };
    }
    private async void OnSelect(IEnumerable<Device> selectedItems)
    {
        selectedDevices = selectedItems;
        await LoadData();
        foreach (var item in selectedItems)
            Debug.Print(item.AssetNo);
    }
    async void OnValueChanged(CompositeFilterDescriptor filter)
    {
        Value = filter;
        await LoadData();
        ApplyFilter(Value);
    }


    void ApplyFilter(CompositeFilterDescriptor filter)
    {
        var dataSourceRequest = new DataSourceRequest { Filters = new List<IFilterDescriptor> { filter } };
        var queryable = OrdersForGrid.AsQueryable();
        var datasourceResult = OrdersForGrid.ToDataSourceResult(dataSourceRequest);

        OrdersForGrid = datasourceResult.Data.Cast<WorkOrder>().ToList();

    }

    private List<Tags> TagModes { get; set; } = new List<Tags>()
    {
        new Tags { Mode = MultiSelectTagMode.Single, Description = "Compact" },
        new Tags { Mode = MultiSelectTagMode.Multiple, Description = "Extended" }
    };

    private class Tags
    {
        public MultiSelectTagMode Mode { get; set; }
        public string Description { get; set; }
    }
    #endregion

    #region Grid Row Styles
    void OnRowRenderHandler(GridRowRenderEventArgs args)
    {
        var item = args.Item as WorkOrderView;

        // args.Class += "state-" + item?.StateColor?.TrimStart('#');
        args.Class += GetStateColorClass(item);
    }

    void OnRowClick(GridRowClickEventArgs args)
    {
        var item = args.Item as WorkOrderView;
        if (item != null)
        {
            selectedOrder = item;
            isOrderCardOpen = true;
            StateHasChanged();
        }
    }

    void OnPopupClose()
    {
        isOrderCardOpen = false;
    }

    private MarkupString RenderStatesStyle(List<WorkOrder> orders)
    {
        var uniqueColors = orders
           .Select(o => o.StateColor)
           .Where(c => !string.IsNullOrWhiteSpace(c))
           .Distinct();

        var sb = new StringBuilder();
        sb.AppendLine("<style>");
        foreach (var color in uniqueColors)
        {
            var safeName = color.TrimStart('#');

            if (!AppState.UseOriginalColors)
                switch(safeName.ToLowerInvariant())
                {
                    case "lime":
                    case "1bf151":
                        safeName = "LightGreen";
                        break;
                    case "red":
                        safeName = "LightCoral";
                        break;
                    case "yellow":
                    case "ffff80":
                        safeName = "LightYellow";
                        break;
                    case "silver":
                        safeName = "LightSteelBlue";
                        break;
                    default:
                        break;
                } else
                safeName = color;

            sb.AppendLine($".k-grid .k-master-row.state-{color.TrimStart('#')} {{");
            sb.AppendLine($"    background-color: {safeName};");
            sb.AppendLine("}");
        }
        sb.AppendLine("</style>");

        return new MarkupString(sb.ToString());
    }

    private string GetStateColorClass(WorkOrder WO)
    {
        if (AppState.UseOriginalColors)
        {
            return "state-" + WO.StateColor.TrimStart('#');
        }
        return apiService.ConvertStateColor(WO.WOState);
    }
    #endregion

}
